@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container flex-grow-1 container-p-y my-2">

    <h1 class="row justify-content-md-center">Sautech - Headless CMS </h1><br />

    <h5>A headless Content Management System, or headless CMS, is a back-end-only content management system that acts primarily as a content repository.
        A headless CMS makes content accessible via an API for display on any device without a built-in, front-end or presentation layer. The term “headless” comes from the concept
        of chopping the “head” (the front end) off the “body” (the back end).
    </h5><br />

      <div class="col-12 mb-3">
        <div class="card">

          <h5 class="card-header">Pagine disponibili</h5>
          <!-- Other Links -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Category </td>
                <td>
                  <a class="goToPage1" href="./Category/">Vai alla pagina</a>
                </td>
              </tr>

              <tr>
                <td>Content</td>
                <td>
                  <a class="goToPage2" href="./Content/">Vai alla pagina</a>
                </td>
              </tr>

              <tr>
                <td>Tag</td>
                <td>
                  <a class="goToPage3" href="./Tag/">Vai alla pagina</a>
                </td>
              </tr>

              <tr>
                <td>Attributes</td>
                <td>
                  <a class="goToPage4" href="./Attributes/">Vai alla pagina</a>
                </td>
              </tr>

              <tr>
                <td>Typology</td>
                <td>
                  <a class="goToPage5" href="./Typology/">Vai alla pagina</a>
                </td>
              </tr>

              <tr>
                <td>POI</td>
                <td>
                  <a class="goToPage6" href="./POI/">Vai alla pagina</a>
                </td>
              </tr>

            </tbody>
          </table>
          <!--/ Other Links -->
        </div>
      </div>

    </div>
  </div>
  <!-- / Content -->
