@page
@model CmsHeadless.Pages.Tag.EditTagModel
@{
}

<div class="col-12 col-xl-4 custom-form-border">
    <form method="post"  class="custom-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="_formEditTagModel.Name" class="control-label"></label>
            <input asp-for="_formEditTagModel.Name" class="form-control" required value="@Model.tag.Name"/>
            <span asp-validation-for="_formEditTagModel.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="_formEditTagModel.Url" class="control-label"></label>
            <input asp-for="_formEditTagModel.Url" class="form-control" required value=@Model.tag.Url/>
            <span asp-validation-for="_formEditTagModel.Url" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="Edit" asp-route-tagId="@EditTagModel.EditTagId" value="Edit" class="btn btn-primary" />
        </div>
        @if(EditTagModel.lastEdit>0 && ModelState.ErrorCount == 0)
            {
                <div class="alert alert-success" role="alert">
                    <p>Tag inserito con successo</p>
                </div>
            }
        @if(ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
            </div>
        }
    </form>
</div>

<a href="../Tag/">Return to tag pages</a>

@{
    EditTagModel.lastEdit = 0;
}