@page
@model CmsHeadless.Pages.Typology.EditTypologyModel
@{
    ViewData["Title"] = "Edit Typology";
}

<div class="col-12 col-xl-4 custom-form-border">
    <form method="post"  class="custom-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="_formEditTypologyModel.TypologyName" class="control-label">Name</label>
            <input asp-for="_formEditTypologyModel.TypologyName" class="form-control textForm" required value="@Model.typology.Name"/>
            <span asp-validation-for="_formEditTypologyModel.TypologyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="Edit" asp-route-typologyId="@EditTypologyModel.EditTypologyId" value="Edit" class="btn btn-primary" />
        </div>
        @if(EditTypologyModel.lastEdit>0 && ModelState.ErrorCount == 0)
            {
                <div class="alert alert-success" role="alert">
                    <p>Tipologia inserito con successo</p>
                </div>
            }
        @if(ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
            </div>
        }
    </form>
</div>

<a href="../Typology/">Return to typology pages</a>

@{
    EditTypologyModel.lastEdit = 0;
}