html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link {
    font-weight:800;
}

.textForm, .dateForm, .selectForm {
    border-radius: 10px;
}

.textForm:hover, .dateForm:hover, .selectForm:hover {
    box-shadow: 3px 3px 5px 2px #777777;
}

.form-group {
    margin-bottom: 10px;
}

.titleForm {
    text-align: center;
}

.custom-form-border {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 20px;
}

.custom-form {
    padding:20px;
}

.dropDownMenuCategory, .dropDownMenuContent, .dropDownMenuTag, .dropDownMenuAttributes, .dropDownMenuTypology, .dropDownMenuLog, .userArea {
    background-color: white;
    color: black;
    font-size: large;
    margin-right: 1.5rem;
}

.dropDownMenuCategory:hover, .dropDownMenuContent:hover, .dropDownMenuTag:hover, .dropDownMenuAttributes:hover, .dropDownMenuTypology:hover, .dropDownMenuLog:hover, .userArea:hover {
    background-color: lightgrey;
    color: black;
}

.dropDownMenuItemCategory, .dropDownMenuItemContent, .dropDownMenuItemTag, .dropDownMenuItemAttributes, .dropDownMenuItemTypology, .dropDownMenuItemLog {
    color: black !important;
}
/*
.fileForm {
    border: 1px solid lightgrey;
    height: 40px;
    border-radius: 10px;
}

label + .fileForm {
    cursor: pointer; 
}

label + .fileForm {
    display: inline-block;
    height: 40px;
    border-radius: 10px;
}*/

.logo {
    width:100px;
}

.logoHeader {
    width: 40px;
}