<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CmsHeadless</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CmsHeadless.styles.css" asp-append-version="true" />
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/img/icons/cms.png" class="logoHeader"/></a>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dropDownMenuCategory" type="button" id="dropdownMenuButtonCategory" data-bs-toggle="dropdown" aria-expanded="false">
                                        Category
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonCategory">
                                        <li><a class="dropdown-item dropDownMenuItemCategory" href="/Category/ViewCategory">Visualizza categorie</a></li>
                                        <li><a class="dropdown-item dropDownMenuItemCategory" href="/Category/">Crea categoria</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dropDownMenuContent" type="button" id="dropdownMenuButtonCategory" data-bs-toggle="dropdown" aria-expanded="false">
                                        Content
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonContent">
                                        <li><a class="dropdown-item dropDownMenuItemContent" href="/Content/ViewContent">Visualizza content</a></li>
                                        <li><a class="dropdown-item dropDownMenuItemContent" href="/Content/">Crea content</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dropDownMenuTag" type="button" id="dropdownMenuButtonTag" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tag
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonTag">
                                        <li><a class="dropdown-item dropDownMenuItemTag" href="/Tag/ViewTag">Visualizza tag</a></li>
                                        <li><a class="dropdown-item dropDownMenuItemTag" href="/Tag/">Crea tag</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dropDownMenuAttributes" type="button" id="dropdownMenuButtonAttributes" data-bs-toggle="dropdown" aria-expanded="false">
                                        Attributes
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAttributes">
                                        <li><a class="dropdown-item dropDownMenuItemAttributes" href="/Attributes/ViewAttributes">Visualizza attributi</a></li>
                                        <li><a class="dropdown-item dropDownMenuItemAttributes" href="/Attributes/">Crea attributi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dropDownMenuTypology" type="button" id="dropdownMenuButtonTypology" data-bs-toggle="dropdown" aria-expanded="false">
                                        Typology
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonTypology">
                                        <li><a class="dropdown-item dropDownMenuItemTypology" href="/Typology/ViewTypology">Visualizza tipologia</a></li>
                                        <li><a class="dropdown-item dropDownMenuItemTypology" href="/Typology/">Crea tipologia</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dropDownMenuLog" type="button" id="dropdownMenuButtonLog" data-bs-toggle="dropdown" aria-expanded="false">
                                        Log
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLog">
                                        <li><a class="dropdown-item dropDownMenuItemLog" href="/LogList">Visualizza registro Log</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div >
                                    <a class="navbar-brand" href="/Identity/Account/Manage/">Area Utente</a>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")" method="post">
                                <button type="submit" class=" btn text-dark">Logout</button>
                            </form>
                        </div>
                        
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CmsHeadless - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>